/* Author: AdHubManila
    Contact No: +63 0995 001 6415
    Email: adhubmanila@gmail.com
    Web URL: https://adhubmanila.hstn.me 
*/

/*     Header Section     */
.ahm-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 1.5rem 10%;
}
.logo{
    height: 3.5rem;
    width: 3.5rem;
}
.logo img{
    max-width: 3.5rem;
    height: auto;
}
.navmenu{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.navmenu a{
    color: var(--primary-color);
    padding: 0.5rem;
}
.navmenu a:hover{
    background-color: var(--accent-color);
    border-radius: 0.1rem;
}

/*     Home Section - Toggle Button     */
.toggle-btn{
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

/*     Home Section - Dropdown Menu     */
.dropMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 8%;
    color: var(--primary-color);
    display: none;
    z-index: 2;    
}
.dropMenu a{
    line-height: 2rem;
    padding: 0.1rem 0.5rem;
    color: var(--primary-color);
}
.dropMenu a:hover{
    color: var(--primary-color);
}

/*     Home Section - Slider     */
.ahm-slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.ahm-slider .slides{
    height: 39.5rem;
    position: relative;
    background-size: cover;
}

/*    Home Section - Caption     */
.caption{
    margin: 22rem 0 0 10%;
    animation: fadeInLeft 1s ease forwards;
    width: 35%; 
    position: absolute;    
}
.caption h3{
    color: var(--primary-color);
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
}
.caption .tagline{
    color: var(--primary-color);
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
}
.caption p{
    color: var(--primary-color);
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
}
.caption .ahm-btn{
    margin-top: 1.5rem;
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
}
.caption .ahm-btn:hover{
    border: none;
    outline: none;
}
.ahm-overlay{
    height: 39.5rem;
    width: 100%;
    position: absolute;
    background-color: var(--overlay-color);   
}

/*    Home Section - Bullets and Dots     */
.bullet {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: 1.5rem;
}
.dot {
    cursor: pointer;
    height: 0.3rem;
    width: 0.3rem;
    margin: 0 0.6rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.bullet .active {
    background-color: var(--accent-color);
    height: 0.5rem;
    width: 0.5rem;
}

/*     Services Section     */
/*     Welcome Section     */
.welcome h1{
    color: var(--accent-color);
}
/*     About Us Section     */
.about-page .ahm-hero{
    width: 33.776rem;
    position: relative;
}
.ahm-hero .ahm-caption{
    position: absolute;
    z-index: 3;
    color: var(--primary-color);
    text-align: center;
    padding: 20% 14%;
}
.ahm-hero .ahm-caption h2{
    color: var(--primary-color);
}
.about-page .ahm-overlay{
    height: 19rem;
    max-width: 60rem;
    height: 99%;
}
.ahm-hero img{
    max-width: 100%;
    height: auto;
    position: ral;
}
.mission-values .ahm-card{
    border: 0.1rem solid var(--primary-color);
}

/*     Projects Section     */
/*     Downloads Section     */
/*     Contaact Us Section     */
/*     Articles Section     */
/*     Footer Section     */
.ftr-col{
    width: 16rem;
    margin: 1rem 0;
}
.ftr-col .social-links{
    display: flex;
    margin-top: 1.5rem; 
}
.ftr-col .social-links a{
    margin-right: 1.5rem;
    color: var(--overlay-color);
}
.ftr-col h5{
    position: relative;
    margin-bottom: 1.8rem;
}
.ftr-col h5::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 0.15rem;
    box-sizing: border-box;
    background-color: var(--accent-color);
    width: 3rem;    
}
.ftr-col a{
    list-style: none;
    color: var(--secondary-color);
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}
.ftr-col a:hover{
    color: var(--accent-color);
    padding-left: 0.6rem;
}
.ftr-col .contact{
    display: flex;
    align-items: center;
}
.ftr-col .contact{
    margin-top: 0.8rem;
}
.ftr-col .contact p{
    margin-left: 1rem;
}
.ftr-col .contact i{
    color: var(--overlay-color);
}
.ftr-content{
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
}