/*  Author: AdHubManila
    Contact No: +63 0995 001 6415
    Email: adhubmanila@gmail.com
    Web URL: https://adhubmanila.onamaeweb.jp  
*/

/*`   Animation   `*/
@keyframes fadeInLeft{
    0%{
      opacity: 0;
      transform: translateX(-30px);
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
  }